{
    "extends": "cooperka/react-native",
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
       "linebreak-style": ["error", process.env.NODE_ENV === 'prod' ? "unix" : "windows"],
        "no-underscore-dangle": 0,
        "import/no-unresolved": [
            2,
            {
                "ignore": [
                    "react",
                    "react-native"
                ]
            }
        ],
        "import/no-extraneous-dependencies": 0,
        "import/extensions": 0,
        "react/no-unused-prop-types": 0,
        "react/no-typos": 0
    }
}
